html{
	height:100%;
}
body{
	margin: 0;
	height: 100%;
	overflow: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: sans-serif;
	font-weight: 900;
}
#show-Area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:100%;
	overflow:hidden;

}
#full-Area{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#begin{
	font-size:100px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #4caf50;
	width: 100vw;
	height: 100vh;
	transition: all 0.4s;
}
#begin:hover{
	cursor:pointer;
}
#game-header{
	height: 0px;
	width: 0px;
	display: flex;
	flex-direction: column;
	transition: all 0.4s;
}
#top-pane{
	font-size: 0px;
	height: 50%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px 10px 0px 0px;
	justify-content: center;
	background-color:#4caf50;
	transition: all 0.4s;
}
#mid-pane{
	display: flex;
	height:50%;
}
#left-pane{
	border-right: 3px solid #444343;
	width: 50%;
	display: flex;
	flex-direction: column;

}
#high-score-title{
	background-color: #ef5350eb;
	color: white;
	font-size: 0px;
	height: 30%; 
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: all 0.4s;
}
#high-score-value{
	height: 70%; 
	font-size: 0px;
	color: #444343;
	background-color: #c8e6c9;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: all 0.4s;
}
#right-pane{
	width: 50%;
	display: flex;
	border-left: 3px solid #444343;
	flex-direction: column;

}
#score-title{
	background-color: #ef5350eb;
	color: white;
	font-size: 0px;
	height: 30%; 
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: all 0.4s;
}
#score-value{
	height: 70%; 
	font-size: 0px;
	color: #444343;
	background-color: #c8e6c9;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: all 0.4s;
}
#play-Area{
	display: flex;
	flex-direction: column;
	background-color: #bbada0;
	width: 0px;
	height:0px;
	border-radius:0px 0px 10px 10px;
	transition: all 0.4s;
}


.row{
	margin-top: 5px;
	height: 25%;
	display: flex;
	margin-bottom:5px; 

}


.empty-tile{
	margin-left: 5px;
	margin-right: 5px;
	width: 25%;
	height:100%;
	background-color:#cdc1b4;
	border-radius:5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tile{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius:5px;
	position: relative;
	z-index: 0;
}
.n2{
	background-color: #eee4da;
	color: #444343;
	font-size: 80px;
}
.n4{
	background-color: #ecd9b2;
	color: #444343;
	font-size: 80px;
}
.n8{
	background-color: #f2b179;
	font-size: 80px;
}
.n16{
	background-color: #f59562;
	font-size: 65px;
}
.n32{
	background-color: #f57b5e;
	font-size: 65px;
}
.n64{
	background-color: #f65e3b;
	font-size: 65px;
}
.n128{
	background-color: #edcf72;
	font-size: 50px;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}
.n256{
	background-color: #edca59;
	font-size: 50px;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}
.n512{
	background: #edc850;
	font-size: 50px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}
.n1024{
	background: #edc53f;
	font-size: 35px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
}
.n2048{
	background: #edc22e;
	font-size: 35px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}